body {
    background-color: #263143;
  }
  
p {
  
    color: #9fef00!important;
  }
  
h2 {
  
    color: #9fef00!important;
    padding: 5px 5px 5px 5px;
  }
  
.rfs-color {
  
    color: #9fef00!important;
    background-color: #263143;
    align-items: center;
  }